## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
temp_list = [x for x in range(101)]
sample_list_1 = random.sample(temp_list,80)
print(sample_list_1)

[24, 95, 10, 69, 42, 56, 54, 32, 37, 93, 51, 0, 48, 100, 88, 92, 72, 26, 12, 29, 62, 45, 70, 77, 38, 6, 49, 84, 20, 9, 57, 65, 86, 3, 7, 44, 79, 67, 19, 74, 25, 14, 96, 55, 15, 80, 81, 90, 89, 97, 98, 17, 5, 8, 40, 91, 4, 43, 31, 53, 11, 52, 21, 41, 36, 68, 46, 76, 22, 75, 73, 78, 59, 1, 94, 39, 30, 28, 64, 33]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
print(set1)
print(len(set1))

{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 17, 19, 20, 21, 22, 24, 25, 26, 28, 29, 30, 31, 32, 33, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 51, 52, 53, 54, 55, 56, 57, 59, 62, 64, 65, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 84, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}
80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = []

for x in temp_list:
    y = random.choice(temp_list)
    if len(sample_list_2) < 80:
        sample_list_2.append(y)
    else:
        break

print(sample_list_2)
print(len(sample_list_2))
    
# sample() does not produce repeating elements, while random. choices() does. 
# In your example, both methods have repeating values because you have repeating values in the 
# original sequence, but, in the case of random

# https://www.w3schools.com/python/ref_random_choices.asp

# sample_list_2 = random.choices(range(101),k = 80)
# print(sample_list_2)

[64, 87, 19, 95, 77, 97, 24, 79, 9, 55, 60, 67, 43, 33, 48, 94, 95, 98, 81, 19, 11, 99, 89, 1, 78, 64, 45, 50, 36, 64, 23, 62, 46, 90, 2, 43, 91, 80, 16, 26, 18, 33, 51, 23, 43, 36, 51, 34, 46, 40, 78, 82, 39, 48, 81, 63, 76, 37, 52, 17, 31, 78, 81, 31, 54, 71, 94, 46, 39, 64, 16, 21, 38, 91, 37, 5, 78, 46, 11, 39]
80

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
print(set2)
print(len(set2))

{1, 2, 5, 9, 11, 16, 17, 18, 19, 21, 23, 24, 26, 31, 33, 34, 36, 37, 38, 39, 40, 43, 45, 46, 48, 50, 51, 52, 54, 55, 60, 62, 63, 64, 67, 71, 76, 77, 78, 79, 80, 81, 82, 87, 89, 90, 91, 94, 95, 97, 98, 99}
52

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = set1 - set2
print(set3)

{0, 3, 4, 6, 7, 8, 10, 12, 14, 15, 20, 22, 25, 28, 29, 30, 32, 41, 42, 44, 49, 53, 56, 57, 59, 65, 68, 69, 70, 72, 73, 74, 75, 84, 86, 88, 92, 93, 96, 100}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set2 - set1
print(set4)

{2, 34, 99, 71, 16, 18, 50, 82, 87, 23, 60, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set1.intersection(set2)
# union: set6 = set1 and set2
# union: set7 = set1.union(set2)

print(set5)

# list_set6 = []
# for i in set2:
    # if i in set1:
        # list_set6.append(i)
# print('---')
# print(list_set6)
# print('---')
# set7 = set(list_set6)
# print(set7)

{1, 5, 9, 11, 17, 19, 21, 24, 26, 31, 33, 36, 37, 38, 39, 40, 43, 45, 46, 48, 51, 52, 54, 55, 62, 64, 67, 76, 77, 78, 79, 80, 81, 89, 90, 91, 94, 95, 97, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))
print('---')
print('len(set2) ' + str(len(set2)) + ' is equal to len(set4)+len(set5) ' + str(len(set4)+len(set5)))

80
52
40
12
40
---
len(set2) 52 is equal to len(set4)+len(set5) 52

#### Create an empty set called `set6`.

In [10]:
set6 = set()
print(set6)

# https://www.w3resource.com/python-exercises/sets/python-sets-exercise-1.php

set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3)
set6.update(set5)
print(set6)

{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 17, 19, 20, 21, 22, 24, 25, 26, 28, 29, 30, 31, 32, 33, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 51, 52, 53, 54, 55, 56, 57, 59, 62, 64, 65, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 84, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}

#### Check if `set1` and `set6` are equal.

In [12]:
print(len(set1))
print(len(set6))

# https://www.w3schools.com/python/ref_func_all.asp#:~:text=The%20all()%20function%20returns,()%20function%20also%20returns%20True.
# http://theautomatic.net/2019/05/29/all-about-python-sets/#:~:text=How%20to%20test%20if%20two,normal%20%E2%80%9C%3D%3D%E2%80%9D%20operator.&text=Notice%20%E2%80%93%20since%20sets%20are%20unordered,are%20in%20a%20different%20order.

print('---')
print(set1)
print('---')
print(set6)
print('---')

print(set1 == set6)

80
80
---
{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 17, 19, 20, 21, 22, 24, 25, 26, 28, 29, 30, 31, 32, 33, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 51, 52, 53, 54, 55, 56, 57, 59, 62, 64, 65, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 84, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}
---
{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 17, 19, 20, 21, 22, 24, 25, 26, 28, 29, 30, 31, 32, 33, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 51, 52, 53, 54, 55, 56, 57, 59, 62, 64, 65, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 84, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}
---
True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# https://www.w3schools.com/python/ref_set_issubset.asp
# Return True if all items in set2 are present in set1

a = set2.issubset(set1)
b = set3.issubset(set1)

print(a)
print(b)

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
set7 = set3.union(set4, set5)
set8 = set1.union(set2)

print(set7)
print('---')
print(set8)
print('---')
print(set7 == set8)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
---
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 59, 60, 62, 63, 64, 65, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
---
True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
print(set1)
x = set1.pop()
print(x)
print(set1)

{0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 17, 19, 20, 21, 22, 24, 25, 26, 28, 29, 30, 31, 32, 33, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 51, 52, 53, 54, 55, 56, 57, 59, 62, 64, 65, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 84, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}
0
{1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 17, 19, 20, 21, 22, 24, 25, 26, 28, 29, 30, 31, 32, 33, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 51, 52, 53, 54, 55, 56, 57, 59, 62, 64, 65, 67, 68, 69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 84, 86, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 100}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
list_set1 = list(set1)
not_in_set1 = []
in_set1 = []

print('len(list_set1): ' + str(len(list_set1)))

for a in list_to_remove:
    if a in list_set1:
        in_set1.append(a)
        list_set1.remove(a)
    else:
        not_in_set1.append(a)

print('list_set1: ' + str(list_set1))
print('not_in_set1: ' + str(not_in_set1))
print('in_set1: ' + str(in_set1))
print('len(list_set1): ' + str(len(list_set1)))

print('len(not_in_set1): ' + str(len(not_in_set1)))
print('len(in_set1): ' + str(len(in_set1)))

set1 = set(list_set1)

print('set1: ' + str(set1))
print('len(set1): ' + str(len(set1)))

len(list_set1): 79
list_set1: [3, 4, 5, 6, 7, 8, 10, 12, 14, 15, 17, 20, 22, 24, 25, 26, 28, 30, 32, 33, 36, 37, 38, 40, 42, 43, 44, 45, 46, 48, 52, 53, 54, 55, 56, 57, 62, 64, 65, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 84, 86, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100]
not_in_set1: [61, 71, 99]
in_set1: [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 69, 79, 81, 89, 91]
len(list_set1): 62
len(not_in_set1): 3
len(in_set1): 17
set1: {3, 4, 5, 6, 7, 8, 10, 12, 14, 15, 17, 20, 22, 24, 25, 26, 28, 30, 32, 33, 36, 37, 38, 40, 42, 43, 44, 45, 46, 48, 52, 53, 54, 55, 56, 57, 62, 64, 65, 67, 68, 70, 72, 73, 74, 75, 76, 77, 78, 80, 84, 86, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100}
len(set1): 62